.left {
  float: left;
  display: block;
}

.btn {
  border-radius: 0;
  cursor: pointer;
  cursor: hand;
}

.cr {
  overflow: auto;
}

.video-container video {
  width: 100%;
}

.content-container.w-50 {
  margin: auto;
}
