.left {
  float: left;
  display: block;
}

.btn {
  cursor: pointer;
  cursor: hand;
}

.cr {
  overflow: auto;
}

.video-container video {
  width: 100%;
}

.content-container.w-50 {
  margin: auto;
}

a {
  color: black;
}

.quit-button,
.back-button {
  color: #B3B3B3;
  font-weight: 600;
  background: white;
  border: 2px solid #B3B3B3;
  text-transform: lowercase;
  text-shadow: none;
  transition: opacity 200ms ease-in-out;
}

.quit-button:hover,
.back-button:hover {
  opacity: 0.5;
  background: white;
}
