.left {
  float: left;
  display: block;
}

.btn,
.btn:link,
.btn:visited {
  border: 1px solid #3FA06D;
  background: linear-gradient(#33C490, #2DA071);
  border-radius: 4px;
  display: inline-block;
  letter-spacing: .15em;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  color: #fff;
  text-shadow: 0 -1px 0 #35AF7A;
}

.btn:hover {
  background: linear-gradient(#35AF7A, #33C490);
  color: #fff;
  border: 1px solid #3FA06D;
}

.btn:active {
  background: #B6DBD7;
}

.cr {
  overflow: auto;
}

.video-container video {
  width: 100%;
}

.content-container.w-50 {
  margin: auto;
}

a {
  color: black;
}

.btn-plain {
  font-size: 18px;
  border: none;
  color: #454545;
  font-weight: 600;
  background: white;
  text-transform: lowercase;
  text-shadow: none;
  transition: opacity 200ms ease-in-out;

  &:hover {
    opacity: 0.5;
    background: white;
    color: #454545;
    border: none;
  }
}

.symbol {
  font-size: 18px;
}


