@font-face {
  font-family: 'icomoon';
  src: url("../../fonts/icomoon.eot?3lr3de");
  src: url("../../fonts/icomoon.eot?3lr3de#iefix") format("embedded-opentype"), url("../../fonts/icomoon.ttf?3lr3de") format("truetype"), url("../../fonts/icomoon.woff?3lr3de") format("woff"), url("../../fonts/icomoon.svg?3lr3de#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-share-window:before {
  content: "\e902"; }

.icon-window:before {
  content: "\e903"; }

.icon-stop:before {
  content: "\e904"; }

.icon-join:before {
  content: "\e901"; }

.icon-back:before {
  content: "\e900"; }

body {
  background-color: #F7F7F7;
  color: #222; }

input {
  outline: none; }

input[type="text"],
input[type="tel"],
input[type="url"],
input[type="email"],
input[type="search"],
input[type="number"],
input[type="password"] {
  border: 1px solid #DEDEDE;
  border-radius: 4px;
  padding: 15px 25px; }
  input[type="text"]:focus,
  input[type="tel"]:focus,
  input[type="url"]:focus,
  input[type="email"]:focus,
  input[type="search"]:focus,
  input[type="number"]:focus,
  input[type="password"]:focus {
    border: 1px solid #539be2; }

input[type='range'] {
  -webkit-appearance: none;
  cursor: pointer;
  background: #fafafa;
  outline: none;
  border: none;
  border-radius: 25px;
  -webkit-box-shadow: inset 0 1px 2px 0 #dfdfdf, inset 0 -1px 1px 0 #ededed; }

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border: 1px solid #3f74a8;
  border-radius: 12px;
  background: #539be2;
  -webkit-box-shadow: 0 1px 2px #d3d3d3; }

a {
  color: black; }

.main-header {
  background: -webkit-linear-gradient(top, #FFFFFF 0%, #EDEDED 100%);
  border-bottom: 1px solid #D3D3D3;
  box-shadow: 0 1px 2px rgba(235, 235, 235, 0.8);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2; }
  .main-header > div {
    display: flex;
    justify-content: space-between; }
    .main-header > div div {
      flex: 1; }
      .main-header > div div:nth-child(2) {
        text-align: center; }
      .main-header > div div:last-child {
        text-align: right; }

.main-content {
  padding-top: 70px; }

.btn {
  font-weight: 600;
  z-index: 9999;
  border-radius: 50px;
  font-size: .9em;
  border-color: #3f74a8;
  background-color: #539be2;
  color: #fff;
  padding: 20px 25px;
  text-shadow: 1px 1px 2px #3f74a8;
  cursor: pointer;
  transition: 200ms ease-in; }
  .btn:hover, .btn:active {
    box-shadow: none;
    border-color: #3f74a8;
    color: #fff;
    background-color: #539be2; }
  .btn:active {
    background-color: #3085db; }

.btn-plain {
  border: none;
  color: #222;
  text-shadow: none;
  cursor: pointer;
  background-color: transparent;
  position: relative;
  padding: 8px 8px 8px 25px; }
  .btn-plain:hover {
    border: none;
    color: #222;
    background-color: transparent; }
  .btn-plain:active {
    color: #ccc; }

.btn-interface {
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 20px;
  font-size: .9em;
  cursor: pointer;
  box-sizing: border-box;
  border: 1px solid #DEDEDE;
  border-radius: 4px;
  color: gray;
  box-shadow: 0px 1px 3px rgba(222, 222, 222, 0.5); }
  .btn-interface:active {
    transform: translateY(1px);
    box-shadow: none; }

.back-button,
.quit-button {
  position: relative;
  color: #A1A1A1;
  padding: 8px 5px;
  font-size: .7em;
  border: 1px solid #dddddd;
  border-radius: 4px;
  background: -webkit-linear-gradient(top, #FFFFFF 0%, #EDEDED 100%); }
  .back-button:hover,
  .quit-button:hover {
    color: #A1A1A1;
    border: 1px solid #dddddd;
    border-radius: 4px; }
  .back-button:active,
  .quit-button:active {
    background: -webkit-linear-gradient(top, #F0F0F0 0%, #FAFAFA 100%); }

.back-button:before {
  font-family: "icomoon";
  font-size: 10px;
  content: "\e900";
  display: inline-block;
  padding: 0 3px 0 0px; }

.share-button {
  position: relative;
  padding-left: 40px; }
  .share-button:before {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 15px;
    font-family: "icomoon";
    font-size: 1.2em;
    content: "\e902";
    display: inline-block; }

.join-button {
  position: relative;
  padding-left: 40px; }
  .join-button:before {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 15px;
    font-family: "icomoon";
    font-size: 1.3em;
    content: "\e901";
    display: inline-block; }

.destroy-button {
  position: relative; }
  .destroy-button:before {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 15px;
    color: #d64747;
    font-family: "icomoon";
    font-size: 1.6em;
    content: "\e904";
    display: inline-block; }

.show-button {
  position: relative; }
  .show-button:before {
    color: #539be2;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 15px;
    font-family: "icomoon";
    font-size: 1.3em;
    content: "\e903";
    display: inline-block; }

.cr {
  overflow: auto; }

.multimedia-container video {
  width: 100%; }

.capturer-list {
  width: 100%;
  padding: 0;
  display: flex;
  flex-flow: row wrap; }

.capturer-list li {
  list-style-type: none;
  margin: 0 auto 20px auto;
  flex: 0 1 250px;
  cursor: pointer;
  position: relative; }
  .capturer-list li:hover::after {
    content: '';
    position: absolute;
    width: 100%;
    bottom: 28px;
    top: 0;
    right: 0;
    background-color: rgba(83, 155, 226, 0.5); }

.capturer-list img {
  width: 100%; }

.capturer-list span {
  display: block; }

.content-container.w-50 {
  margin: auto; }

.interface-wrap:after {
  display: block;
  content: '';
  clear: both; }

.vol-ctrl {
  position: relative;
  text-align: center; }

.vol-ctrl-wrap {
  padding: 20px 15px 15px; }
