$button-color: #539be2;
$button-active: #3085db;
$button-border-color: #3f74a8;

@font-face {
  font-family: 'icomoon';
  src:url('../../fonts/icomoon.eot?yai13c');
  src:url('../../fonts/icomoon.eot?yai13c#iefix') format('embedded-opentype'),
    url('../../fonts/icomoon.ttf?yai13c') format('truetype'),
    url('../../fonts/icomoon.woff?yai13c') format('woff'),
    url('../../fonts/icomoon.svg?yai13c#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-size: 1em;
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-join:before {
  content: "\e901";
}
.icon-quit:before {
  content: "\e902";
}
.icon-share:before {
  content: "\e903";
}
.icon-back:before {
  content: "\e900";
}

body {
  background-color: #F7F7F7;
  color: #222;
}

input {
  outline: none;
  padding: 15px 25px;
}

input[type="text"],
input[type="tel"],
input[type="url"],
input[type="email"],
input[type="search"],
input[type="number"],
input[type="password"] {
  border: 1px solid #DEDEDE;
  border-radius: 4px;

  &:focus {
    border: 1px solid $button-color;
  }
}

.main-header {
  background: -webkit-linear-gradient(top, #FFFFFF 0%, #EDEDED 100%);
  border-bottom: 1px solid #D3D3D3;
  box-shadow: 0 1px 2px rgba(#EBEBEB, .8);
}

.left {
  float: left;
  display: block;
}

.btn {
  font-weight: 600;
  z-index: 9999;
  border-radius: 25px;
  font-size: .8em;
  border-color: $button-border-color;
  background-color: $button-color;
  color: #fff;
  padding: 15px 25px;
  text-shadow: 1px 1px 2px $button-border-color;
  cursor: pointer;
  cursor: hand;
  transition: 200ms ease-in;

  &:hover,
  &:active {
    box-shadow: none;
  	border-color: $button-border-color;
  	color: #fff;
  	background-color: $button-color;
  }

  &:active {
    background-color: $button-active;
  }
}

.btn-plain {
  border: none;
  color: #222;
  text-shadow: none;
  background-color: transparent;
  position: relative;
  padding: 8px 8px 8px 25px;

  &:hover {
    border: none;
    color: #222;
    background-color: transparent;
  }

  &:active {
    color: #ccc;
  }
}

.back-button,
.quit-button {
  position: relative;
  color: #999;
  padding: 6px 10px;
  border: 1px solid #CFCFCF;
  border-radius: 4px;
  background: -webkit-linear-gradient(top, #FFFFFF 0%, #EDEDED 100%);

  &:hover {
    color: #999;
    border: 1px solid #CFCFCF;
    border-radius: 4px;
  }

  &:active {
    background: -webkit-linear-gradient(top, #F0F0F0 0%, #FAFAFA 100%);
  }
}

.back-button {
  &:before {
    font-family: "icomoon";
    font-size: 10px;
    content: "\e900";
    display: inline-block;
    padding: 0 3px 0 5px;
  }
}

.quit-button {
  &:before {
    font-family: "icomoon";
    font-size: 10px;
    content: "\e902";
    display: inline-block;
    padding-right: 5px;
  }
}

.share-button {
  position: relative;
  padding-left: 35px;

  &:before {
    position: absolute;
    top: 50%; 
    transform: translateY(-50%);
    left: 15px;
    font-family: "icomoon";
    font-size: 1.2em;
    content: "\e903";
    display: inline-block;
  }
}

.join-button {
  position: relative;
  padding-left: 35px;

  &:before {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 15px;
    font-family: "icomoon";
    font-size: 1.2em;
    content: "\e901";
    display: inline-block;
  }
}

.cr {
  overflow: auto;
}

.multimedia-container video {
  width: 100%;
}

.content-container.w-50 {
  margin: auto;
}

a {
  color: black;
}
