$button-color: #539be2;
$button-active: #3085db;
$button-border-color: #3f74a8;

@font-face {
    font-family: 'icomoon';
    src:    url('../../fonts/icomoon.eot?3lr3de');
    src:    url('../../fonts/icomoon.eot?3lr3de#iefix') format('embedded-opentype'),
        url('../../fonts/icomoon.ttf?3lr3de') format('truetype'),
        url('../../fonts/icomoon.woff?3lr3de') format('woff'),
        url('../../fonts/icomoon.svg?3lr3de#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-share-window:before {
    content: "\e902";
}
.icon-window:before {
    content: "\e903";
}
.icon-stop:before {
    content: "\e904";
}
.icon-join:before {
    content: "\e901";
}
.icon-back:before {
    content: "\e900";
}

body {
  background-color: #F7F7F7;
  color: #222;
}

input {
  outline: none;
}

input[type="text"],
input[type="tel"],
input[type="url"],
input[type="email"],
input[type="search"],
input[type="number"],
input[type="password"] {
  border: 1px solid #DEDEDE;
  border-radius: 4px;
  padding: 15px 25px;

  &:focus {
    border: 1px solid $button-color;
  }
}

input[type='range'] {
  -webkit-appearance: none;
  cursor: pointer;
  background: #fafafa;
  outline: none;
  border: none;
  border-radius: 25px;
  -webkit-box-shadow: inset 0 1px 2px 0 #dfdfdf, inset 0 -1px 1px 0 #ededed;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border: 1px solid #3f74a8;
  border-radius: 12px;
  background: #539be2;
  -webkit-box-shadow: 0 1px 2px #d3d3d3;
}

a {
  color: black;
}

p {
  word-break: break-all;
}

.main-header {
  background: -webkit-linear-gradient(top, #FFFFFF 0%, #EDEDED 100%);
  border-bottom: 1px solid #D3D3D3;
  box-shadow: 0 1px 2px rgba(#EBEBEB, .8);

  > div {
    display: flex;
    justify-content: space-between;

    div {
      flex: 1;

      &:nth-child(2) {
        text-align: center;
      }

      &:last-child {
        text-align: right;
      }
    }
  }
}

.btn {
  font-weight: 600;
  z-index: 9999;
  border-radius: 50px;
  font-size: .8em;
  border-color: $button-border-color;
  background-color: $button-color;
  color: #fff;
  padding: 20px 25px;
  text-shadow: 1px 1px 2px $button-border-color;
  cursor: pointer;
  transition: 200ms ease-in;

  &:hover,
  &:active {
    box-shadow: none;
  	border-color: $button-border-color;
  	color: #fff;
  	background-color: $button-color;
  }

  &:active {
    background-color: $button-active;
  }
}

.btn-plain {
  border: none;
  color: #222;
  text-shadow: none;
  cursor: pointer;
  background-color: transparent;
  position: relative;
  padding: 8px 8px 8px 25px;

  &:hover {
    border: none;
    color: #222;
    background-color: transparent;
  }

  &:active {
    color: #ccc;
  }
}

.back-button,
.quit-button {
  position: relative;
  color: #999;
  padding: 8px 10px;
  border: 1px solid #CFCFCF;
  border-radius: 4px;
  background: -webkit-linear-gradient(top, #FFFFFF 0%, #EDEDED 100%);

  &:hover {
    color: #999;
    border: 1px solid #CFCFCF;
    border-radius: 4px;
  }

  &:active {
    background: -webkit-linear-gradient(top, #F0F0F0 0%, #FAFAFA 100%);
  }
}

.back-button {
  &:before {
    font-family: "icomoon";
    font-size: 10px;
    content: "\e900";
    display: inline-block;
    padding: 0 3px 0 5px;
  }
}

.share-button {
  position: relative;
  padding-left: 35px;

  &:before {
    position: absolute;
    top: 50%; 
    transform: translateY(-50%);
    left: 15px;
    font-family: "icomoon";
    font-size: 1.4em;
    content: "\e902";
    display: inline-block;
  }
}

.destroy-button {
  position: relative;
  padding: 15px;

  &:before {
    position: absolute;
    top: 50%; 
    transform: translateY(-50%);
    left: 15px;
    color: #d64747;
    font-family: "icomoon";
    font-size: 1.6em;
    content: "\e904";
    display: inline-block;
  }
}

.show-button {
  position: relative;
  padding: 15px;

  &:before {
    position: absolute;
    top: 50%; 
    color: $button-color;
    transform: translateY(-50%);
    left: 15px;
    font-family: "icomoon";
    font-size: 1.3em;
    content: "\e903";
    display: inline-block;
  }
}

.join-button {
  position: relative;
  padding-left: 35px;

  &:before {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 15px;
    font-family: "icomoon";
    font-size: 1.6em;
    content: "\e901";
    display: inline-block;
  }
}

.cr {
  overflow: auto;
}

.multimedia-container video {
  width: 100%;
}

.capturer-list li {
  list-style-type: none;
  margin-right: 30px;
  float: left;
  height: 150px;
}

.capturer-list img {
  border: 1px solid #F7F7F7;
}

.capturer-list img:hover {
  border: 1px solid black;
}

.capturer-list span {
  display: block;
}

.content-container.w-50 {
  margin: auto;
}

.interface-wrap {  
  &:after {
    display: block;
    content: '';
    clear: both;
  }
}

.vol-ctrl {
  position: relative;
  text-align: center;
}

.vol-ctrl-wrap {
  padding: 20px 15px 15px;
}

.btn-interface {
  cursor: pointer;
  box-sizing: border-box;
  border: 1px solid #DEDEDE;
  border-radius: 4px;
  color: gray;
  box-shadow: 0px 1px 3px rgba(#DEDEDE, .5);

  &:active {
    transform: translateY(1px);
    box-shadow: none;
  }
}